@(
	form: Form[models.User]
)

@import b3.vertical.fieldConstructor
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/createUser.css")">
@main("新規作成") {
<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="form-group">
                <h2>アカウント登録</h2>
                <h4>無料でご利用いただけます</h4>
            </div>

	<div class="form-create">
	 	@b3.form(action = routes.UserController.create(), 'method -> "POST") {
	 	    <div class="form-group">
			@if(form.hasGlobalErrors) { Loi global roi}
			@if(form.hasErrors) { Loi me roi}
                @b3.inputWrapped(
					                "email",
					                form("email"),
					                '_label -> "メールアドレス",
					                'placeholder -> "xxx@xxx"
				                ) { input =>
				               			<div class="input-group">@input </div>
								  }
            </div>
           <div class="form-group">
	           <!--  @b3.password(
	           				form("password"),
	           			 	'_label -> "パスワード",
	           			  	'placeholder -> "12345678"
	           			  ) -->
				@b3.inputWrapped(
					                "password",
					                form("password"),
					                '_label -> "パスワード",
					                'placeholder -> "12345678"
				                ) { input =>
				               			<div class="input-group">@input </div>
								  }
            </div>
			<div class="form-group">
	           @b3.password(
	           				form("passwordConf"),
	           			 	'_label -> "パスワード（確認）",
	           			  	'placeholder -> "12345678"
	           			  )
            </div>
			<div class="form-group">
				@b3.text(
					field = form("name"),
					'_label -> "名前",
					'placeholder -> "名前"
				)
			</div>

			@add_plug(form,form, "kame")

			<input class="btn btn-primary btn-m btn-block" type="submit" value="新規登録">
		}
	</div>
}

