<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
	      <a class="navbar-brand " href="@routes.PostController.showAllPost(1)">FeedPicks</a>
	 </div>
	 <div id="navbar" class="navbar-collapse collapse">
	      <ul class="nav navbar-nav">
	        @if(models.User.isLogin) {
	          <li><a href="@routes.UserController.editUser(models.User.email)">@session.get("username")</a></li>
	          <li><a href="@routes.AuthController.logout()">ログアウト</a></li>
	        }else{
	          <li><a href="@routes.AuthController.login()">ログイン</a></li>
	        }
	        <li> @play.i18n.Messages.get("test")</li>
	      </ul>
	  </div>
</nav>